{% include "header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body >
    <div class="container" id="home">
        <div class="row">
            <h1 id="h">Come lets help the needy together</h1>
            <h2 id="h">The platform which connect the people ready to donate with the NGO's which are ready to help the people in need</h2>
        </div>
    </div>
</body>
{% include "footer.html" %}
</html>