{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What we do</title>
</head>
<body id="bo_3">
    {% include "header.html" %}
    <div class="container">
        <div class="col-12">
            <div class="row" id="back">
                <h1 id="we"><strong> WHAT WE DO</strong></h1>
                <p>
                    <h3>Flood Relief</h3>
Emergency Response: Providing immediate aid such as food, water, shelter, and medical assistance to flood victims1.
Rehabilitation: Helping rebuild homes and infrastructure, and providing long-term support to restore livelihoods2.
Preparedness Programs: Conducting awareness campaigns, mock drills, and training to prepare communities for future floods2.
<h3>Orphanage Help</h3>
Education: Offering educational programs and scholarships to ensure children receive quality education.
Healthcare: Providing regular health check-ups, vaccinations, and medical care.
Psychosocial Support: Offering counseling and emotional support to help children cope with trauma and loss.
<h3>Old Age Homes</h3>
Healthcare Services: Ensuring regular medical check-ups, access to medicines, and emergency medical care3.
Recreational Activities: Organizing activities and events to keep the elderly engaged and active.
Advocacy: Working to protect the rights of the elderly and advocating for policies that benefit them4.
Women Empowerment
Education and Training: Providing vocational training, literacy programs, and educational opportunities to women.
Health and Wellness: Offering healthcare services, reproductive health education, and support for maternal health.
Economic Empowerment: Supporting women entrepreneurs, providing microfinance, and creating job opportunities.
Advocacy and Legal Support: Fighting against gender-based violence, advocating for women’s rights, and providing legal assistance.
                </p>
            </div>
        </div>
    </div>
    {% include "footer_user.html" %}
</body>
</html>